<head>
	<link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
	<link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
	<link rel=stylesheet href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
	<script src="/static/ace.js"></script>
</head>
<body>
	<h1 class=title>
		Whoops!
	</h1>
	There was an issue rendering your Pity URL.
</body>