<script>
	fetch("/render", {
		method: "POST",
		headers: {
			"Content-Type": "application/json"
		},
		body: JSON.stringify({'value': window.location.hash})
	}).then(response => {
		response.text().then(function (text) {
			document.write(text);
		})
	})
</script>
